header {
    /* width: 100%; */
    color: #202020;
    font-family: 'Caladea', serif;
    font-weight: 400;
    border-bottom: 1px solid #202020;
    padding: 5px;

}

.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 6rem;
}

.navbar-nav a {
    display: flex;
    color: #202020;
    font-size: 1.5rem;
    font-weight: 500;
}

.navbar-nav a:active {
    color: #A5CF3A;
}

#nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo {
    width: 240px;
    height: auto;
}


#div-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 1.5rem;
    flex-wrap: wrap-reverse;
}

#div-login a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #202020;
}

#div-login a:hover {
    color: #A5CF3A;
}
#btn-signin{
    height: 3rem;
    width: 120px;
    background-color: #A5CF3A;
    border-color: #A5CF3A;
    border-style: solid;
}
#btn-signin:hover{
    border-color: #202020;
}
#btn-subscribe{
    height: 3rem;
    width: 120px;
    border-color: #A5CF3A;
    border-style: solid;
}
#btn-subscribe:hover{
    border-color: #202020;

}
.navbar-toggler, .navbar-toggler-icon{
    background-color: #A5CF3A;
    border-color: #A5CF3A;
}