
<div id="container-login">
    <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <div id="email-container">
            <img src="assets/login.png" alt="login icon">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
        </div>
        <div id="senha-container">
        <img src="assets/senha.png" alt="senha icon">
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label  for="floatingPassword">Password</label>
        </div>
        </div>
        <div id="esqueci-senha">
            <label>
             Esqueci minha senha
            </label>
        </div>
        <div id="login-voltar-btn">
            <button id="loginButton" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            <button id="voltarButton" class="btn btn-lg btn-primary btn-block" type="submit">Voltar</button>
        </div>
        <div id="login-cadastrar-btn"> 
        <button id="cadastrarButton" class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
        </div>

    </form>
</div>    


