<form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email ou telefone" required="" autofocus="">
    <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required="">
    <div>
      <label>
        Esqueci minha senha
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Voltar</button>
    <div> 
    <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
    </div>

  </form>