
h1{

    text-align: center;
    font-size: 40px;
}

h3{
    
    text-align: center;
    color: #A5CF3A;
}

#container-login{

    width: 500px;
    height: 300px;
    margin: 10% auto ;
  
}


.form-floating{

    width: 80%;
}

#floatingInput{

    background-color: #ffffff;
    width: 100%;
    
}

#floatingInput:focus{

    border-color: #A5CF3A;
    
}


#floatingPassword{

    background-color: #ffffff;
    width: 100%;
}

#floatingPassword:focus{

    border-color: #A5CF3A;
    
}
#email-container{

    display: flex;

    align-items: flex-end;
}

#senha-container{

    display: flex;

    align-items: flex-end;
}



img{

    margin: auto;
    width: 60px;
    height: 60px;
}

#testeee{

    margin-left: 45%;
    text-decoration: underline;
    color: rgba(0, 99, 177, 1);
}
#cadastre{
    text-decoration: underline;
    color: rgba(0, 99, 177, 1);
}
#cadastre:hover{

    color: #A5CF3A;

}

#testeee:hover{

    color: #A5CF3A;

}

#loginButton{

    width:  30%;
    height: 55px;
    margin: 5px;
    background-color: #ffffff;
    border-color: #A5CF3A;
    border-style: solid;
    border-radius: 5px;
    color: #202020;
    font-size: x-large;
    
}

#loginButton:hover{
    background-color: #A5CF3A;
}

#voltarButton{

    width:  30%;
    margin: 5px; /* Agrega margen entre los botones si es necesario */
    background-color: #ffffff;
    border: 1px solid #E2DDDC ;
    border-radius: 5px;
    color: #202020;
}

#cadastrarButton{

    width:  30%;    
    background-color: #ffffff;
    border: 3px solid #A5CF3A ;
    border-radius: 5px;
    color: #202020;
}





#login-voltar-btn{
    display: flex;
    justify-content: center;
    align-items: center;
  
}


#login-cadastrar-btn{
    display: flex;
    justify-content: center;
    align-items: center;

}

