
<div id="container-login">
    <form class="form-signin" (ngSubmit)="logar()">
        <h1 class="h3 mb-3 font-weight-normal">Bem-vindo</h1>
        <h3 class="h3 mb-3 font-weight-normal">Observatório Social de Foz do Iguaçu</h3>



        <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typeEmailX">Email</label>
                  <input type="text" id="typeEmailX" name="typeEmailX" class="form-control form-control-lg" 
                  [(ngModel)]="login.email"/>
                </div>
  
                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typePasswordX">Password</label>
                  <input type="password" id="typePasswordX" name="exampleInputPassword1"class="form-control form-control-lg" 
                  [(ngModel)]="login.senha">
                </div>

        <div id="esqueci-senha">
            <input type="checkbox">
            <label>Remember me</label>
            <label id="testeee" (click)="recuperarSenha()">Esqueci minha senha</label>
        </div>

        <div id="login-voltar-btn">
            <button id="loginButton"  class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            <button id="cadastrarButton" (click)="register()" class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
        </div>

       

    </form>
</div>    


<!--   <button id="voltarButton" class="btn btn-lg btn-primary btn-block" type="submit">Voltar</button> 

 <div id="login-cadastrar-btn"> 
        <button id="cadastrarButton" class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
        </div>

-->