#btn-recuperar{
    height: 3rem;
    width: 120px;
    background-color: #A5CF3A;
    border-color: #A5CF3A;
    border-style: solid;
}
#btn-recuperar:hover{
    border-color: #202020;
}
#btn-voltar{
    height: 3rem;
    width: 120px;
    border-color: #A5CF3A;
    border-style: solid;
}
#btn-voltar:hover{
    border-color: #202020;
}