<h2>Recuperar Senha</h2>
<p>Informe seu número de celular ou e-mail para enviarmos o link de recuperação de senha.</p>
<input type="text" name="inputRecuperacao" placeholder="E-mail ou Número de celular">
<div class="col-3">
    <button [routerLink]="['/recupera-senha-details']" id="btn-recuperar" name="recuperarSenha"
        (click)="recuperarSenha()">Enviar</button>
    <button [routerLink]="['']" routerLinkActive="router-link-active" id="btn-voltar" name="voltarTelaAnterior"
        (click)="voltarTelaAnterior()">Voltar</button>
</div>