<div class="tudo" style="height: 70vh;">
    <div class="content">
        <h2>Recuperar Senha</h2>
        <p>Informe seu e-mail ou número de celular para enviarmos o link de recuperação.</p>
        <input class="inputEmail" name="inputRecuperacao" placeholder="E-mail ou celular">
        <div >
            <button [routerLink]="['']" routerLinkActive="router-link-active" id="btn-voltar" name="voltarTelaAnterior"
                (click)="voltarTelaAnterior()">Voltar</button>
                <button [routerLink]="['/recupera-senha-details']" id="btn-recuperar" name="recuperarSenha"
                (click)="recuperarSenha()">Enviar</button>
        </div>
    </div>
</div>
