<div class="d-flex justify-content-center flex-column my-5">
    <div class="d-flex justify-content-center align-items-center ">
        <form (ngSubmit)="save()" class="w bord my-5 p-5">
            <h2 class="d-flex justify-content-center align-items-center ">Cadastro</h2>

            <div *ngIf="success" class="alert alert-success " role="alert">{{messagem}}</div>
            <div *ngIf="danger" class="alert alert-danger " role="alert">{{messagem}}</div>

            <div class="d-flex justify-content-center gap-4">
                <div class="form-floating mb-3 col-12">
                    <input [(ngModel)]="user.nome" type="text" class="form-control" name="nome" placeholder="Titulo"
                        required>
                    <label for="nome">Nome Completo</label>
                </div>
            </div>
            <div class="d-flex justify-content-center gap-2">
                <div class="form-floating mb-3 col-6">
                    <input [(ngModel)]="user.email" type="email" class="form-control" name="email" placeholder="E-mail"
                        required>
                    <label for=" email">E-mail</label>
                </div>
                <div class="form-floating mb-3 col-6">
                    <input [(ngModel)]="user.senha" type="password" class="form-control" name="password"
                        placeholder="password" required>
                    <label for="password">Senha</label>
                </div>
            </div>
            <div class="d-flex justify-content-center gap-2">
                <div class="form-floating mb-3 col-6">
                    <input [(ngModel)]="user.cpf" mask="000.000.000-00" [dropSpecialCharacters]="false" type="text"
                        class="form-control" name="cpf" placeholder="cpf" required>
                    <label for="cpf">CPF</label>
                </div>
                <div class="form-floating mb-3 col-6">
                    <input [(ngModel)]="user.tituloEleitor" mask="000000000000" data-toggle="tooltip"
                        data-placement="top"
                        [dropSpecialCharacters]="false" type="text" class="form-control" placement="top"
                        ngbTooltip="Campo utilizado para verificação de afiliação pólitica." name="tituloEleitor"
                        placeholder="tituloEleitor" required>
                    <label for="tituloEleitor">Título de Eleitor</label>
                </div>
            </div>
            <div class="d-flex justify-content-center gap-2">
                <div class="form-floating mb-3 col-6">
                    <input [(ngModel)]="user.celular" mask="(00)00000-0000" [dropSpecialCharacters]="false" type="tel"
                        class="form-control" name="celular" placeholder="celular" required>
                    <label for=" celular">Telefone</label>
                </div>
                <div class="form-floating mb-3 col-6">
                    <input [(ngModel)]="user.dataNascimento" type="date" class="form-control" name="dataNascimento"
                        placeholder="dataNascimento" required>
                    <label for="dataNascimento">Data de Nascimento</label>
                </div>
            </div>
            <div class="d-flex justify-content-center gap-2">
                <div class="form-floating mb-3 col-6">
                    <input [(ngModel)]="user.nomePai" type="text" class="form-control" name="nomePai"
                        placeholder="nomePai" required>
                    <label for="nomePai">Pai</label>
                </div>
                <div class="form-floating mb-3 col-6">
                    <input [(ngModel)]="user.nomeMae" type="text" class="form-control" name="nomeMae"
                        placeholder="nomeMae" required>
                    <label for="nomeMae">Mãe</label>
                </div>
            </div>
            <div class="d-flex justify-content-center gap-5 my-4">
                <button *ngIf="user.id != null" class="btn btn-outline-success"
                    [routerLink]="['/profile/usuario', user.id]">Voltar</button>
                <button *ngIf="user.id == null" class="btn btn-outline-success"
                    [routerLink]="['/login']">Voltar</button>
                <button class="btn btn-success" type="submit">Registar</button>
            </div>
        </form>
    </div>