<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<main class="row px-3">
    <aside class="col-3 p-3 border-end">
        <section class="mb-3 row">
            <img src="./assets/img/noimage.jpg" class="img-fluid rounded-start" alt="Obra sem imagem">
        </section>
        <section>
            <div class="row justify-content-between">
                <h2 class="col"><strong>{{ usuario.nome }}</strong></h2>
                <span class="material-symbols-outlined col-2 edit text-end" [routerLink]="['/usuario/form', usuario.id]">edit</span>
            </div>
            <p>E-mail: {{ usuario.email }}</p>
            <p>Celular: {{ usuario.celular }}</p>
            <p>Data de Nascimento: {{ usuario.dataNascimento }}</p>
            <p>CPF: {{ usuario.cpf }}</p>
            <p>Título de eleitor: {{ usuario.tituloEleitor }}</p>
            <p>Nome da mãe: {{ usuario.nomeMae }}</p>
            <p *ngIf="usuario.nomePai">Nome do pai: {{ usuario.nomePai }}</p>
        </section>
    </aside>
    <section class="col-9 p-3">
        <h1 class="align-content-center">Obras acompanhadas</h1>
        <app-list [perfilUsuario]="usuario"></app-list>
    </section>
</main>