<main class="w-100">
    <br>
    <br>
    <div class="d-flex justify-content-center">
        <form class="w bord" (ngSubmit)="save()">
            <div class="d-flex justify-content-center ">
                <h3 *ngIf="obra.id == null">Cadastro de Obra</h3>
                <h3 *ngIf="obra.id != null">Edição de Obra</h3>
            </div> 
            <br>

            <div *ngIf="erro" class="alert alert-primary" role="alert">
                {{ mensagem }}
            </div>
    
            <br>
            <div class="d-flex justify-content-center gap">
                <div class="form-floating mb-3 col-4">
                    <input type="text" class="form-control" name="Titulo" placeholder="Titulo" required
                        [(ngModel)]="obra.titulo">
                    <label for="Titulo">Título</label>
                </div>
                <div class="form-floating mb-3 col-4">
                    <input type="text" class="form-control" name="Objetivo" placeholder="Objetivo" required
                        [(ngModel)]="obra.objetivo">
                    <label for="Objetivo">Objetivo</label>
                </div>

                <div class="form-floating mb-3 col-4">
                    <input type="text" class="form-control" name="Licitação" placeholder="Licitação" required
                        [(ngModel)]="obra.licitacao">
                    <label for="Licitação">Licitação</label>
                </div>

            </div>

            <div class="d-flex justify-content-center gap">
                <div class="form-floating mb-3 col-1.5">
                    <input maxlength="8" type="text" class="form-control" name="CEP" placeholder="CEP" required
                        [(ngModel)]="obra.cep" (input)="maskCEP($event)">
                    <label for="CEP">CEP</label>
                </div>

                <div class="form-floating mb-3 col-5">
                    <input type="text" class="form-control" name="Rua" placeholder="Rua" [(ngModel)]="obra.rua" required> 
                    <label for="Rua">Rua</label>
                </div>

                <div class="form-floating mb-3 col-4">
                    <input type="text" class="form-control" name="Bairro" placeholder="Bairro" required
                        [(ngModel)]="bairro.nome">
                    <label for="Bairro">Bairro</label>
                </div>

                <div class="form-floating mb-3 col-1">
                    <input type="number" class="form-control" name="Numero" placeholder="Numero" required
                        [(ngModel)]="obra.numeroEndereco">
                    <label for="Numero">Número</label>
                </div>
            </div>
            <div class="d-flex justify-content-center gap">
                <div class="form-floating mb-3 col-4">
                    <select placeholder="Tipo Obra" class="form-select" id="tipoObra" name="tipoObra" required
                        [(ngModel)]="obra.tipoObra">
                        <option *ngFor="let tipoObra of tipos" [ngValue]="tipoObra">{{tipoObra}}</option>
                    </select>
                    <label for="tipoObra">Tipo Obra</label>
                </div>



                <div class="form-floating mb-3 col-4">
                    <select class="form-select" id="situacao" name="situacao" [(ngModel)]="obra.situacao" required> 
                        <option placeholder="Situação" *ngFor="let situacao of situacoes" [ngValue]="situacao">
                            {{situacao}}</option>
                    </select>
                    <label for="situacao">Situação</label>
                </div>

                <div class="form-floating mb-3 col-4">
                    <input type="number" class="form-control" name="ValorEdital" placeholder="ValorEdital" required
                        [(ngModel)]="obra.valorEdital">
                    <label for="ValorEdital">Valor do Edital</label>
                </div>
            </div>


            <div *ngIf="obra.id != null">
                <div class="d-flex justify-content-center gap ">
                    <div class="form-floating mb-3 col-6">
                        <input type="number" class="form-control" name="NumeroContrato" placeholder="NumeroContrato"
                            [(ngModel)]="obra.numeroContrato">
                        <label for="NumeroContrato">Número do Contrato</label>
                    </div>

                    <div class="form-floating mb-3 col-6">
                        <input type="number" class="form-control" name="ValorContratado" placeholder="ValorContratado"
                            [(ngModel)]="obra.valorContratado">
                        <label for="ValorContratado">Valor Contratado</label>
                    </div>
                </div>

                <div class="d-flex justify-content-center gap">
                    <div class="form-floating mb-3 col-4">
                        <input type="date" class="form-control" name="dataCertame" placeholder="dataCertame"
                            [(ngModel)]="obra.dataCertame">
                        <label for="dataCertame">Número do Contrato</label>
                    </div>

                    <div class="form-floating mb-3 col-4">
                        <input type="date" class="form-control" name="dataInicio" placeholder="dataInicio"
                            [(ngModel)]="obra.dataInicio">
                        <label for="dataInicio">Data de Ínicio</label>
                    </div>

                    <div class="form-floating mb-3 col-4">
                        <input type="date" class="form-control" name="dataTermino" placeholder="dataTermino"
                            [(ngModel)]="obra.dataTermino">
                        <label for="dataTermino">Data de Termíno</label>
                    </div>
                </div>

                <div class="d-flex justify-content-center gap ">
                    <div class="form-floating mb-3 col-6">
                        <input type="number" class="form-control" name="empresa" placeholder="empresa"
                            [(ngModel)]="empresa.nome">
                        <label for="empresa">Empresa Contratada </label>
                    </div>

                    <div class="form-floating mb-3 col-6">
                        <input type="text" class="form-control" name="cnpj" placeholder="cnpj"
                            [(ngModel)]="empresa.cnpj">
                        <label for="cnpj">CNPJ</label>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center gap ">
                <button class="btn btn-outline-success" *ngIf="obra.id == null">Voltar</button>
                <button class="btn btn-success" *ngIf="obra.id == null" type="submit">Cadastar</button>
                <button class="btn btn-success" *ngIf="obra.id != null" type="submit">Atualizar</button>
            </div>
        </form>
    </div>
</main>
