<main class="w-100">
    <br>
    <div class="d-flex justify-content-center">
        <form class="w bord" (ngSubmit)="save()">
            <div class="d-flex justify-content-center ">
                <h3 *ngIf="obra.id == null">Cadastro de Obra</h3>
                <h3 *ngIf="obra.id > 0">Edição de Obra</h3>
            </div>
            <br>
            <div class="d-flex justify-content-center gap">
                <div class="form-floating mb-3 col-4">
                    <input type="text" class="form-control" name="Titulo" placeholder="Titulo"
                        [(ngModel)]="obra.titulo">
                    <label for="Titulo">Título</label>
                </div>

                <div class="form-floating mb-3 col-4">
                    <input type="text" class="form-control" name="Objetivo" placeholder="Objetivo"
                        [(ngModel)]="obra.objetivo">
                    <label for="Objetivo">Objetivo</label>
                </div>

                <div class="form-floating mb-3 col-4">
                    <input type="text" class="form-control" name="Licitação" placeholder="Licitação"
                        [(ngModel)]="obra.licitacao">
                    <label for="Licitação">Licitação</label>
                </div>

            </div>

            <div class="d-flex justify-content-center gap">
                <div class="form-floating mb-3 col-1.5">
                    <input maxlength="8" type="text" class="form-control" name="CEP" placeholder="CEP"
                        [(ngModel)]="obra.cep" (input)="maskCEP($event)">
                    <label for="CEP">CEP</label>
                </div>

                <div class="form-floating mb-3 col-5">
                    <input type="text" class="form-control" name="Rua" placeholder="Rua" [(ngModel)]="obra.rua">
                    <label for="Rua">Rua</label>
                </div>

                <div class="form-floating mb-3 col-4">
                    <input type="text" class="form-control" name="Bairro" placeholder="Bairro"
                        [(ngModel)]="bairro.nome">
                    <label for="Bairro">Bairro</label>
                </div>

                <div class="form-floating mb-3 col-1">
                    <input type="number" class="form-control" name="Numero" placeholder="Numero"
                        [(ngModel)]="obra.numeroEndereco">
                    <label for="Numero">Número</label>
                </div>
            </div>
            <div class="d-flex justify-content-center gap">
                <div class="form-floating mb-3 col-4">
                    <select class="form-select" id="Tipo" [(ngModel)]="obra.tipoObra">
                        <option value="EDUCACAO">EDUCAÇÃO</option>
                        <option value="INFRAESTRUTURA">INFRAESTRUTURA</option>
                        <option value="SAUDE">SAÚDE</option>
                    </select>
                    <label for="Tipo">Tipo</label>
                </div>

                <div class="form-floating mb-3 col-4">
                    <select class="form-select" id="Situação" [(ngModel)]="obra.situacao">
                        <option value="EM_HOMOLOGACAO">EM HOMOLOGACAO</option>
                        <option value="EM_ANDAMENTO">EM ANDAMENTO</option>
                        <option value="ENTREGUE">ENTREGUE</option>
                        <option value="ENTREGUE">SAUDE</option>
                    </select>
                    <label for="Situação">Situação</label>
                </div>

                <div class="form-floating mb-3 col-4">
                    <input type="number" class="form-control" name="ValorEdital" placeholder="ValorEdital"
                        [(ngModel)]="obra.valorEdital">
                    <label for="ValorEdital">Valor do Edital</label>
                </div>
            </div>







            <div *ngIf="obra.id != null">
                <div class="d-flex justify-content-center gap ">
                    <div class="form-floating mb-3 col-6">
                        <input type="number" class="form-control" name="NumeroContrato" placeholder="NumeroContrato"
                            [(ngModel)]="obra.numeroContrato">
                        <label for="NumeroContrato">Número do Contrato</label>
                    </div>

                    <div class="form-floating mb-3 col-6">
                        <input type="number" class="form-control" name="ValorContratado" placeholder="ValorContratado"
                            [(ngModel)]="obra.valorContratado">
                        <label for="ValorContratado">Valor Contratado</label>
                    </div>
                </div>

                <div class="d-flex justify-content-center gap">

                    <div class="form-floating mb-3 col-4">
                        <input type="date" class="form-control" name="dataCertame" placeholder="dataCertame"
                            [(ngModel)]="obra.dataCertame">
                        <label for="dataCertame">Número do Contrato</label>
                    </div>

                    <div class="form-floating mb-3 col-4">
                        <input type="date" class="form-control" name="dataInicio" placeholder="dataInicio"
                            [(ngModel)]="obra.dataInicio">
                        <label for="dataInicio">Data de Ínicio</label>
                    </div>

                    <div class="form-floating mb-3 col-4">
                        <input type="date" class="form-control" name="dataTermino" placeholder="dataTermino"
                            [(ngModel)]="obra.dataTermino">
                        <label for="dataTermino">Data de Termíno</label>
                    </div>


                </div>

            </div>
            <button type="submit">enviar</button>
        </form>
    </div>
</main>